body{
    margin:0;
    padding:0;
    font-size:16px;
    color:#333;

}
.member_ul{
    margin:0;
    padding:0;
    height:0;
    overflow: hidden;
    border: 1px solid #999;
    border-top:none;
    display: none;
    opacity:0;
}
.member_ul li{
    list-style: none;
    width:90px;
    height:35px;
    line-height:35px;
    text-align: center;
}
.member_ul li a{
    color:#333;
    text-decoration:none;
    display:block;
}
.member_ul li a:hover{
    background: #fc0;
}
#header{
    width:900px;
    height:38px;
    margin: 0 auto;
    background: #eee;
    position:relative;
}
#header .logo{
    width:100px;
    height:38px;
    float:left;
}
#header .logo img{
    display:block;
}
#header .member{
    width:90px;
    height:38px;
    line-height:38px;
    float:right;
    background: url(../image/top.png)no-repeat right center;
    cursor:pointer;
}
#header ul{
    position:absolute;
    top:38px;
    right:0;
}
.login{
    float:right;
    width:38px;
    height:38px;
    cursor:pointer;
    line-height:38px;

}
#login{
    width:350px;
    height:250px;
    border:1px solid #ccc;
    position:absolute;
    display:none;
    z-index:21;
    background: #fff;
}
#login h2{
    height:40px;
    line-height:40px;
    text-align:center;
    font-size:14px;
    letter-spacing:1px;
    color:#666;
    margin:0;
    padding:0;
    background: #eee;
    border-bottom:1px solid #ccc;
    margin-bottom:20px;
    cursor: move;
}
#login h2 .close{
    position:absolute;
    height:40px;
    line-height:40px;
    right:5px;
    cursor:pointer;
}
#login div.user,#login div.pass{
    font-size:14px;
    color:#666;
    padding:6px 0;
    text-align:center;
}
#login input.text{
    width:200px;
    height:25px;
    border:1px solid #ccc;
    background: #fff;
}
#login input.submit{
    display:block;
    width:107px;
    height:25px;
    font-size:16px;
    margin:20px auto;
    border: none;
    cursor: pointer;
}
#login .other{
    font-size:14px;
    float: right;
    margin-right: 20px;
    color: #666666;
    cursor: pointer;
}
#screen{
    position:absolute;
    left:0;
    top:0;
    display:none;
    background:#888;
    z-index:20;
    opacity:0;
    filter:alpha(opacity:30);
}




#share{
    width:210px;
    height:315px;
    border:1px solid #ccc;
    position: absolute;
    top:0px;
    left:-210px;
    background: #fff;
    z-index: 2;
}
#share h2{
    height:30px;
    line-height: 30px;
    padding:0;
    background: #eee;
    margin:0;
    font-size: 14px;
    color:#666;
    text-indent: 10px;
}
#share ul {
    height:254px;
    padding:3px 0 2px 5px;
    position:relative;
}
#share ul li {
    width:96px;
    height:28px;
    float:left;
    padding:2px;
    list-style: none;
}
#share ul li a{
    display: block;
    width:95px;
    height:26px;
    line-height: 26px;
    text-decoration: none;
    color:#666;
    text-indent:30px;
}
#share ul li a.a{

 }
#share .share_footer{
    height:26px;
    text-align: right;
    background: #eee;
}
#share .share_footer a{
    padding: 0 13px;
    text-decoration: none;
    color:#666;
}
#share .share_footer a:hover{
    color:#06f;
    opacity:.5;
}
#share .share_footer .span{
    display:flex;
    align-items: center;
    text-align: center;
    border-radius:5px;
    width:24px;
    height:88px;
    line-height:22px;
    background: orangered;
    color:#fff;
    cursor:pointer;
    position:absolute;
    top:131px;
    left:210px;
}


#nav{
    width:465px;
    height:52px;
    background: #eee;
    border-radius:10px;
    margin: 50px auto 0 auto;
    position:relative;
}
#nav ul{
    position:absolute;
    padding: 0;
    margin: 0;
}
#nav ul.black {
    left:20px;
    color:#333;
    z-index:1;
}
#nav ul li {
    list-style: none;
    width:85px;
    height:52px;
    line-height: 52px;
    float:left;
    text-align: center;
    font-weight:bold;
}
#nav .nav_bg{
    display:block;
    width:85px;
    height:52px;
    border-radius: 10px;
    background: lightseagreen;
    position:absolute;
    left:20px;
    top:0px;
    overflow:hidden;
    z-index:2;
}
#nav .white{
    width:425px;
    color:white;
    /*z-index:3;*/
}
/*最上层 保证鼠标移入移出动作正常触发*/
#nav .about{
    width:425px;
    height:52px;
    position:absolute;
    top:0;
    left:20px;
    z-index:4;
}


