body{
    margin:0;
    padding:0;
}
#box{
    width:100px;
    height:50px;
    position:absolute;
    background: red;
    left:100px;
    opacity: 0.8;
}
#btn{
    position:absolute;
    top:500px;
    left:200px;
}


