body{
    margin:0;
    padding:0;
    font-size:16px;
    color:#333;

}
ul{
    margin:0;
    padding:0;
    border: 1px solid #999;
    border-top:none;
    display:none;
}
ul li{
    list-style: none;
    width:90px;
    height:35px;
    line-height:35px;
    text-align: center;
}
ul li a{
    color:#333;
    text-decoration:none;
    display:block;
}
ul li a:hover{
    background: #fc0;
}
#header{
    width:900px;
    height:38px;
    margin: 0 auto;
    background: #eee;
    position:relative;
}
#header .logo{
    width:100px;
    height:38px;
    float:left;
}
#header .logo img{
    display:block;
}
#header .member{
    width:90px;
    height:38px;
    line-height:38px;
    float:right;
    background: url(../image/top.png)no-repeat right center;
    cursor:pointer;
}
#header ul{
    position:absolute;
    top:38px;
    right:0;
}
.login{
    float:right;
    width:38px;
    height:38px;
    cursor:pointer;
    line-height:38px;

}
#login{
    width:350px;
    height:250px;
    border:1px solid #ccc;
    position:absolute;
    display:none;
    z-index:21;
    background: #fff;
}
#login h2{
    height:40px;
    line-height:40px;
    text-align:center;
    font-size:14px;
    letter-spacing:1px;
    color:#666;
    margin:0;
    padding:0;
    background: #eee;
    border-bottom:1px solid #ccc;
    margin-bottom:20px;
    cursor: move;
}
#login h2 .close{
    position:absolute;
    height:40px;
    line-height:40px;
    right:5px;
    cursor:pointer;
}
#login div.user,#login div.pass{
    font-size:14px;
    color:#666;
    padding:6px 0;
    text-align:center;
}
#login input.text{
    width:200px;
    height:25px;
    border:1px solid #ccc;
    background: #fff;
}
#login input.submit{
    display:block;
    width:107px;
    height:25px;
    font-size:16px;
    margin:20px auto;
    border: none;
    cursor: pointer;
}
#login .other{
    font-size:14px;
    float: right;
    margin-right: 20px;
    color: #666666;
    cursor: pointer;
}
#screen{
    position:absolute;
    left:0;
    top:0;
    display:none;
    background:#888;
    z-index:20;
    opacity:.5;
    filter:alpha(opacity:30);
    opacity:.3;
}

